* {
  box-sizing: border-box;
}

.color-form {
  height: 100vh;
  width: 100vw;
  /* background-color: #ffffff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-form__input,
.color-form__rgb {
  width: 170px;
  height: 40px;
  padding: 2px;
  border: 1px solid black;
  margin: 5px;
  background-color: white;
  text-align: center;
  font-family: monospace;
  line-height: 36px;
}
